[submodule "contracts/lib/aqua"]
	path = contracts/lib/aqua
	url = https://github.com/1inch/aqua
[submodule "contracts/lib/solidity-utils"]
	path = contracts/lib/solidity-utils
	url = https://github.com/1inch/solidity-utils
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
